.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #ff0ef3;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    transition: margin-top 0.3s ease, height 0.3s ease;
    transform: translateZ(0);
    box-sizing: border-box;
    z-index: 999;
    border-radius: 3px;
    max-width: 600px;
    display: block;
    height: 400px;
    overflow: scroll;
}
body{
    background-color: violet;
}